body{  
  font-family: Calibri, Helvetica, sans-serif;  
  background-color: black;  
}
.container {
    display:flex;
    text-align: left;
    justify-content: center;
    align-items: center;
    height: 98vh;
    width: 100%;
    background-image: linear-gradient(to right, royalblue, lightskyblue);
}

.form {
    width: 500px;
    height: 690px;
    background-color:lavender;
    /* border-top-left-radius: 10px; */
    border-bottom-right-radius: 40px;
    border-top-right-radius: 40px;
    border-bottom-left-radius: 40px;
    border-top-left-radius: 40px; 
    box-shadow: 0 0 0px rgba(0, 0, 0, 0.2);
    position: relative;
    overflow: hidden;
    display: inline-block;
    text-align: center;
}

.input {
    padding-top: 20px;
    /* position: absolute; */
    font-size: 20px;
}

.img-2 {
    width: 400px;
    height: 500px;
    border-top-left-radius: 40px;
    border-bottom-left-radius: 5px;
}

.tpc-1 {
    font-size: 30px;
    font-weight: bold;
    color: #160040;
    margin-top: 20px;
    padding-left: 100px;
}

.input-edt-1 {
    /* position: relative; */
    width: 300px;
    /* padding: 5px 0; */
    font-size: 12px;
    color: #000;
    margin: 10px 0;
    border: none;
    border-bottom: 1px solid #000;
    outline: none;
    background: transparent;
    text-align: left;
    display: inline-block;
}

/* .form .input label {
    position: relative;
    left: 0;
    top: -30px;
    padding: 10px 0;
    font-size: 16px;
    color: #000;
    pointer-events: none;
    transition: .5s;
}
.form .input input:focus~label, .form .input input:valid~label {
    top: -40px;
    left: 0;
    color: #000;
    font-size: 12px;
} */

.btn-signup button{
    text-decoration: none;
    width: 300px;
    height: 50px;
    background-color: #000000;
    border: none;
    outline: none;
    color: #ffffff;
    font-size: 20px;
    font-weight: bold;
    border-radius: 5px;
    margin-top: 30px;
    cursor: pointer;
    transition: 1s;
}

.btn-signup button a {
    color: inherit;
    text-decoration: none;
}

.btn-signup button:hover {
    background-color: skyblue;
    transition: .5s;
}

.input-edt-2 {
    padding: 20px 0 0 35px;
    /* text-align: center; */
}

.footer-signup-page {
    background-image: linear-gradient(to right, #9A0680, #160040);
    text-align: center;
}
